header { 
    top: 0;
    position: sticky;
    height: 80px;
    background-color: black;
    .container {
        width: 1110px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    ul {
        width: 303px;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    .left {    
        img {
            vertical-align: unset;
            margin-right: 10px;
        }
    }
    .link {
        color: #fff;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
}