.social {
    background: #000;
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        gap: 20px;
    }
    &__card {
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        background:$third-color;
    }
    &__name {
        img {
            margin-right: 10px; 
        }
    }
    &__up {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 25px;
    }
    &__descr {
        margin: 25px;
    }
    &__text {
        color:rgba(255, 255, 255, 0.7);
    }
    a {
        color: $main-color;
    }
}